/********************************************
 * Styling applicable to all pages (maybe)
 *******************************************/
* {
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
    font-family: Arial;
    font-size: 14px;
    margin: 0px;
}

body #container {
    position: relative;
    min-height: 100%;
    background-color: #FFFFFF;
}

/* Labels styling */
.field-container .field-label,
.field-container .field-sublabel,
.field-container .field-footer {
    margin-bottom: 2px;
    display: block;
    opacity: 0.8;
}

.field-container .field-label {
    font-size: 1em;
    font-weight: bold;
}
.field-container .field-label .field-label-suffix {
    font-size: 0.8em;
    font-weight: normal;
}

.field-container .field-sublabel,
.field-container .field-footer {
    font-size: 0.8em;
}

/* user input styling */
.field-container input,
.field-container textarea {
    margin-top: 6px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #CCCCCC;
    outline: none;
    padding: 10px;
    width: 100%;
}
.field-container input:focus,
.field-container textarea:focus,
.field-container select:focus {
    border: 1px solid #666666;
    box-shadow: 0px 0px 3px 1px #1171BB;
}

select::-ms-expand {
    display: none;
}
select {
    margin-top: 6px;
    width: 100%;
    background: #fff;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1.2em, right 10px top 1.2em;
    background-size: 5px 5px, 5px 5px;
}
select option {
    color: black;
}    
select:invalid {
    color: gray;
}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
}

/* utility classes */
.hidden {
    display: none;
}

.vertical-aligner {
    display: table;
    width: 100%;
    height: 100%;
}
.vertical-aligner > span {
    display: table-cell;
    vertical-align: middle;
}

/* https://www.w3schools.com/tags/att_input_type_radio.asp */
.radio-container {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
} 